-e hg+https://bitbucket.org/guillemnan/sphinx#egg=sphinx
-e hg+https://bitbucket.org/nantic/sphinxcontrib-inheritance#egg=sphinxcontrib-inheritance
-e hg+https://bitbucket.org/nantic/trydoc#egg=trydoc
